extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header__title Sesiones de matemática 4to
    .header__paragraph Buen dia señorita y/o joven en esta página esta las sesiones de matemática para los que no participaron opertunamente en las sesiones, esta organizado por mes, semana y sesiones. Dentro de la semanas encontrara estos asteriscos <span>(*)</span> quiere decir que solo se desarrollo una sola sesión, <span>(**)</span> se realizó dos sesiones de matemática.

block main
    .main__container
        // ABRIL
        .contenedor
            button.months__btn Abril
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1Y8yw2RxFgG9_Quti-ie90kjYqDz0SJNn?usp=sharing" target="_blank") Semana 1 <span> - (**)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1a6dR9cd13HLfB63j896dSRm2vcAtqaSt?usp=sharing" target="_blank") Semana 2 <span> - (*)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1MQfby0QsapKIX_jhd1Rt_0M-OgSk8vgD?usp=sharing" target="_blank") Semana 3 <span> - (*)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1W0qZY8Zvn97F8jKgpP9-aP_KfbyPflpI?usp=sharing" target="_blank") Semana 4 <span> - (**)</span>
        // MAYO
        .contenedor
            button.months__btn Mayo
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1wuNL3rERROUHAuhqIPOQ7B26_cEhdMNP?usp=sharing" target="_blank") Semana 5 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 6 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1lDGSnExre2f2MBoHdatPFvoRwAdPIqOc?usp=sharing" target="_blank") Semana 7 <span> - (**)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1h0L4XP_fZ302E8_btoUwN6-G-mL0mYAD?usp=sharing" target="_blank") Semana 8 <span> - (**)</span>
        // JUNIO
        .contenedor
            button.months__btn Junio
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 9 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 10 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 11 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 12 <span> - (**)</span>
        // JULIO
        .contenedor
            button.months__btn Julio
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 13 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 14 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 15 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 16 <span> - (**)</span>
        // AGOSTO
        .contenedor
            button.months__btn Agosto
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 17 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 18 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 19 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 20 <span> - (**)</span>
        // SETIEMBRE
        .contenedor
            button.months__btn  Setiembre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 21 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 22 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 23 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 24 <span> - (**)</span>
        // OCTUBRE
        .contenedor
            button.months__btn Octubre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 25 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 26 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 27 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 28 <span> - (**)</span>
        // NOVIEMBRE 
        .contenedor
            button.months__btn  Noviembre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 29 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 30 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 31 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 32 <span> - (**)</span>
        // DICIEMBRE 
        .contenedor
            button.months__btn Diciembre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 33 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 34 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 35 <span> - (**)</span>
                a.months__link(href="#" target="_blank") Semana 36 <span> - (**)</span>


block footer
    include ../includes/footer