extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header__title Sesiones de matemática 4to
    .header__paragraph Buenos dias señoritas y/o jovenes en esta página esta las sesiones de matemática para los que no participaron opertunamente, esta organizado por mes, semana y sesiones. Dentro de cada semana encontraran uno o dos carpetas, quiere decir que hay una clase por semana o dos clases por semana, puedes ver o descargar el video, una vez visto la sesión y habiendo cumplido el reto enviar tus evidencias resaltando a que semana y sesión pertenece.

block main
    .main__container
        // ABRIL
        .contenedor
            button.months__btn Abril
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1Y8yw2RxFgG9_Quti-ie90kjYqDz0SJNn?usp=sharing" target="_blank") Semana 1 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1a6dR9cd13HLfB63j896dSRm2vcAtqaSt?usp=sharing" target="_blank") Semana 2 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1MQfby0QsapKIX_jhd1Rt_0M-OgSk8vgD?usp=sharing" target="_blank") Semana 3 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1W0qZY8Zvn97F8jKgpP9-aP_KfbyPflpI?usp=sharing" target="_blank") Semana 4 <span> - ( » )</span>
        // MAYO
        .contenedor
            button.months__btn Mayo
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1wuNL3rERROUHAuhqIPOQ7B26_cEhdMNP?usp=sharing" target="_blank") Semana 5 <span> - ( » )</span>
                a.months__link(href="#") Semana 6 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1lDGSnExre2f2MBoHdatPFvoRwAdPIqOc?usp=sharing" target="_blank") Semana 7 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1h0L4XP_fZ302E8_btoUwN6-G-mL0mYAD?usp=sharing" target="_blank") Semana 8 <span> - ( » )</span>
        // JUNIO
        .contenedor
            button.months__btn Junio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/12QtA5X25vwmf9Ne6Bd3aHVD_2D34ugiX?usp=sharing" target="_blank") Semana 9 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/10AqudkzEnkY6bC6SkHVKmGe3UCo3Xpa4?usp=sharing" target="_blank") Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1qDUsZMjPgNHhA7EKfYFIQOqkZbbji2ot?usp=sharing" target="_blank") Semana 11 Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1-gncDKbUftcvNFv0mdtpnKTVHmBphbi-?usp=sharing" target="_blank") Semana 12 Semana 10 <span> - ( » )</span>

        // JULIO
        .contenedor
            button.months__btn Julio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1-I6yp_k0bcNRZ6rCWeO04tiFXqx3a6Fb?usp=sharing" target="_blank") Semana 13 Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/11qFLuornOA9IoP4HkKOA0fpye6x1OhS3?usp=sharing" target="_blank") Semana 14 Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1-ICchpvP4qrfeiIeLegDps9Tx8t4cKvv?usp=sharing" target="_blank") Semana 15 Semana 10 <span> - ( » )</span>
                a.months__link(href="#") Semana 16 <span> - (Vacaciones)</span>
        // AGOSTO
        .contenedor
            button.months__btn Agosto
            .months__smenu
                a.months__link(href="#") Semana 17 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1t1bAVeF1NrycwhlYa2BMQXPI6eL8pMro?usp=sharing" target="_blank") Semana 18 
                a.months__link(href="https://drive.google.com/drive/folders/11haB_8lNGHc9JAJPdTM40XRp_p71dC18?usp=sharing" target="_blank") Semana 19 
                a.months__link(href="https://drive.google.com/drive/folders/1nlj8lMNZfRCo6J2tTpe56V6Ib277Ljrm?usp=sharing" target="_blank") Semana 20
        // SETIEMBRE
        .contenedor
            button.months__btn Setiembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1rrHrJYbOjeIfFLdwNX0MVSjf6Xrq8fn3?usp=sharing" target="_blank") Semana 21 
                a.months__link(href="https://drive.google.com/drive/folders/1He_poJmp3eUXmu-bh1nV4VmRlar4shjL?usp=sharing" target="_blank") Semana 22 
                a.months__link(href="https://drive.google.com/drive/folders/1M2bHzG3TSsquFylYBlgCo_yZnENp608x?usp=sharing" target="_blank") Semana 23 
                a.months__link(href="https://drive.google.com/drive/folders/1dUM6Rad4-wHsz7vMijFkN58OiMyIPLO2?usp=sharing" target="_blank") Semana 24 
                a.months__link(href="https://drive.google.com/drive/folders/1wrbSNb6NXBxPTLiIpB06LfjAFSQZP6vq?usp=sharing" target="_blank") Semana 25 
        // OCTUBRE
        .contenedor
            button.months__btn  Octubre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1tfVtWBfhgEE8B7PFvCNaSBjS30rVU9Qr?usp=sharing" target="_blank") Semana 26
                a.months__link(href="#") Semana 27 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/19PcQhGrGkKwGa2K6GEYOxy_MxuUGUeZq?usp=sharing" target="_blank") Semana 28 
                a.months__link(href="https://drive.google.com/drive/folders/1eYxSUsPIdvOtjyQ5HRNEN9Isy4PXVWo9?usp=sharing" target="_blank") Semana 29 
        // NOVIEMBRE 
        .contenedor
            button.months__btn Noviembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/148yjQaaLUaAXaURS0oqTzi65tUM0JDKI?usp=sharing" target="_blank") Semana 30 
                a.months__link(href="https://drive.google.com/drive/folders/1cmBywa2Jx-GAZnGabHjd7KL-OdjwGVU5?usp=sharing" target="_blank") Semana 31 
                a.months__link(href="https://drive.google.com/drive/folders/1TtFqStZHDocMsmGlgNYtdJWgDHHTEwx4?usp=sharing" target="_blank") Semana 32 
                a.months__link(href="https://drive.google.com/drive/folders/1qU07xavoB-xt5_QWn18WN5wWNj6VLvKO?usp=sharing" target="_blank") Semana 33 
        // DICIEMBRE 
        .contenedor
            button.months__btn Diciembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1VrxqLoiuBCz3XO6jDrX6KIt5dNtRZeAa?usp=sharing" target="_blank") Semana 34 
                a.months__link(href="https://drive.google.com/drive/folders/1W4eiJP8LG9r_ciSZQMlFZlZvfxFMlLBm?usp=sharing" target="_blank") Semana 35 
                a.months__link(href="https://drive.google.com/drive/folders/1XNHxnz-aEyS07c_K1NPPY13AcgqOUR2l?usp=sharing" target="_blank") Semana 36

block footer
    include ../includes/footer