extends ../templates/template

block header
    .registroNotas
        h2.registroNotas__title Información de entrega de evidencias en el area de Matemática 2021

        .datosEstudiante
            h4.datosEstudiante__title Estudiante
            .datosEstudiante__box
                p.resaltar__color N° DNI
                P 42769197
            .datosEstudiante__box
                P.resaltar__color NOMBRES
                P CARLOS
            .datosEstudiante__box
                P.resaltar__color APELLIDOS
                P TUCNO VASQUEZ

        .NotasSiagie
            h4.NotasSiagie__title Notas de Matematica 2020
            .NotasSiagie__box.resaltar__color
                p C1
                p C2
                p C3
                p C4 
            .NotasSiagie__box
                p 15
                p 16
                p 17
                p 18
            .NotasSiagie__box.NotasSiagie__box--competencia
                h5 C1: Resuelve problemas de cantidad 
                h5 C2: Resuelve problemas de regularidad, equivalencia y cambio 
                h5 C3: Resuelve problemas de forma, movimiento y localización 
                h5 C4: Resuelve problemas de gestión de datos e incertidumbre

        .datosEstudiante
            h4.datosEstudiante__title Descripción
            .datosEstudiante__box
                p.resaltar__color "X":
                P Envio la evidencia
            .datosEstudiante__box
                P.resaltar__color "¿"
                P NO Envio
            .datosEstudiante__box
                P.resaltar__color "-"
                P Sin sesión

        .datosResultados__container
            .datosResultados    <!-- abril -->
                h4.datosResultados__title MES: Abril
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-1
                    p SEM-2
                    p SEM-3 
                    p SEM-4 
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx

            .datosResultados    <!-- mayo -->
                h4.datosResultados__title MES: Mayo
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-5
                    p SEM-6
                    p SEM-7 
                    p SEM-8
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p vac
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p vac
                    p xxxx
                    p xxxx

            .datosResultados    <!-- junio -->
                h4.datosResultados__title MES: Junio
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-9
                    p SEM-10
                    p SEM-11 
                    p SEM-12 
                    p SEM-13 
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx

            .datosResultados    <!-- julio -->
                h4.datosResultados__title MES: Julio
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-14
                    p SEM-15
                    p SEM-16 
                    p SEM-17 
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                    p vac
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx
                    p vac

            .datosResultados    <!-- agosto -->
                h4.datosResultados__title MES: Agosto
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-18
                    p SEM-19
                    p SEM-20 
                    p SEM-21 
                .datosResultados__box
                    p sesión-1
                    p vac
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p vac
                    p xxxx
                    p xxxx
                    p xxxx

            .datosResultados    <!-- setiembre -->
                h4.datosResultados__title MES: Septiembre
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-22
                    p SEM-23
                    p SEM-24 
                    p SEM-25
                    p SEM-26
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx

            .datosResultados    <!-- octubre -->
                h4.datosResultados__title MES: Octubre
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-27
                    p SEM-28
                    p SEM-29 
                    p SEM-30
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p vac
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p vac
                    p xxxx
                    p xxxx

            .datosResultados    <!-- noviembre -->
                h4.datosResultados__title MES: Noviembre
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-31
                    p SEM-32
                    p SEM-33 
                    p SEM-34
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx
                    p xxxx

            .datosResultados    <!-- diciembre -->
                h4.datosResultados__title MES: Diciembre
                .datosResultados__box.resaltar__color
                    p 
                    p SEM-35
                    p SEM-36
                    p SEM-37 
                .datosResultados__box
                    p sesión-1
                    p xxxx
                    p xxxx
                    p xxxx
                .datosResultados__box
                    p sesión-2
                    p xxxx
                    p xxxx
                    p xxxx



        .datosEstudiante
            h4.datosEstudiante__title Resumen de evidencias
            .datosEstudiante__box
                p.resaltar__color Total Evidencias:
                P 456
            .datosEstudiante__box
                P.resaltar__color Enviado:
                P 58%
            .datosEstudiante__box
                P.resaltar__color No enviado
                P 42%
