extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header__title Sesiones de matemática 2do
    .header__paragraph Buenos dias señoritas y/o jovenes en esta página esta las sesiones de matemática para los que no participaron opertunamente, esta organizado por mes, semana y sesiones. Dentro de cada semana encontraran uno o dos carpetas, quiere decir que hay una clase por semana o dos clases por semana, puedes ver o descargar el video, una vez visto la sesión y habiendo cumplido el reto enviar tus evidencias resaltando a que semana y sesión pertenece.

block main
    .main__container

        // ABRIL
        .contenedor
            button.months__btn Abril
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1wXgi47U3DZw_1OMre6W7mIvY3fFD5mOh?usp=sharing" target="_blank") Semana 1 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1YuUTomxkOBhRE3jFDI7L2R6_XNKsKREw?usp=sharing" target="_blank") Semana 2 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1rjzn3UOjwbqtNBlr1OiYmHwcctHeGsro?usp=sharing" target="_blank") Semana 3 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1_K9c1RC5aDor0tG4gtamt55zWYOVdLCW?usp=sharing" target="_blank") Semana 4 <span> - ( » )</span>

        // MAYO
        .contenedor
            button.months__btn Mayo
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1Mpkhq45SihUXikZzwReHu0n-zY4xPI5W?usp=sharing" target="_blank") Semana 5 <span> - ( » )</span>
                a.months__link(href="#") Semana 6 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1P06pfh_6lbpQzLthmYB6CG4Sx3yxFJBV?usp=sharing" target="_blank") Semana 7 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1dh02XHuAJifBmfV-I6eaNMk8nTHFe71Q?usp=sharing" target="_blank") Semana 8 <span> - ( » )</span>
        // JUNIO
        .contenedor
            button.months__btn Junio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/14ryZSPOSxUfxoJX90OXLxsX9_taxOIHu?usp=sharing" target="_blank") Semana 9 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/15YFWer0E7hZRTbMEu3J6vblozlZKG-Jv?usp=sharing" target="_blank") Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/11Hhft8lQP3R17H7Mxpk8cBJRQRTDj3qb?usp=sharing" target="_blank") Semana 11 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1F060HykVJaXRshhsFK_0xNLIgUyVPLtm?usp=sharing" target="_blank") Semana 12 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1BdhYiih4jg_tE8k-47Vyk_XYhpinEaxS?usp=sharing" target="_blank") Semana 13 <span> - ( » )</span>
        // JULIO
        .contenedor
            button.months__btn Julio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1BdhYiih4jg_tE8k-47Vyk_XYhpinEaxS?usp=sharing" target="_blank") Semana 13 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1-FPDjyTqDgIL6Zt6a_t8Cp-4eKPle9_t?usp=sharing" target="_blank") Semana 14 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1zfNJGaLw7jO1c2o8HsivwqHylDZHOiGW?usp=sharing" target="_blank") Semana 15 <span> - ( » )</span>
                a.months__link(href="#") Semana 16 <span> - (Vacaciones)</span>
        // AGOSTO
        .contenedor
            button.months__btn Agosto
            .months__smenu
                a.months__link(href="#") Semana 17 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1ldk3WgosBFd27tJHXQFzjJ0Txc24dyKR?usp=sharing" target="_blank") Semana 18
                a.months__link(href="https://drive.google.com/drive/folders/1GD3eHOTJYzPkf2bNYaUg1ZYwBrkmSdhb?usp=sharing" target="_blank") Semana 19 
                a.months__link(href="https://drive.google.com/drive/folders/1-w-EPiNGZ7vXi3bgx7Ump7o-riuAffZg?usp=sharing" target="_blank") Semana 20
        // SETIEMBRE
        .contenedor
            button.months__btn Setiembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1SIqgtWh7zhP70uUlcHVXHnivhFLokmVc?usp=sharing" target="_blank") Semana 21
                a.months__link(href="https://drive.google.com/drive/folders/1wZJJbX7pV6os5S94JdSYT7aV3XEloIyh?usp=sharing" target="_blank") Semana 22 
                a.months__link(href="https://drive.google.com/drive/folders/1INHLUJEbN9_wgBkTTi37oB538dUbudl_?usp=sharing" target="_blank") Semana 23 
                a.months__link(href="https://drive.google.com/drive/folders/1eogMy6STZYnwk8ZmkEGt3XKqBIZPWii7?usp=sharing" target="_blank") Semana 24 
                a.months__link(href="https://drive.google.com/drive/folders/1BMZPx8-4jqxegk_N94imedTUTwDOfO7T?usp=sharing" target="_blank") Semana 25 
        // OCTUBRE
        .contenedor
            button.months__btn  Octubre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1SJJ-hzmFkvvK2VkKq8zsFQWNzrT5zWp-?usp=sharing" target="_blank") Semana 26
                a.months__link(href="#") Semana 27 <span> - (Vacaciones)</span> 
                a.months__link(href="https://drive.google.com/drive/folders/1SM7H7-Ps4Wk7aKdFdiqiyG-SJVVaOKya?usp=sharing" target="_blank") Semana 28 
                a.months__link(href="https://drive.google.com/drive/folders/1YnmBvtp_e-7wvqR2cmAeZRZNecdOeuHT?usp=sharing" target="_blank") Semana 29 
        // NOVIEMBRE 
        .contenedor
            button.months__btn Noviembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1vpxe25aeHkFNeviymk2oLr71mqH3NGiY?usp=sharing" target="_blank") Semana 30 
                a.months__link(href="https://drive.google.com/drive/folders/1gcjJqvDcDAUwjbPDGp2ICpIY2sz1a7dO?usp=sharing" target="_blank") Semana 31 
                a.months__link(href="https://drive.google.com/drive/folders/1MgghxJipc6d79B1sni1q6I3OWV-3q3oc?usp=sharing" target="_blank") Semana 32 
                a.months__link(href="https://drive.google.com/drive/folders/1B2MQhGCVtDTNrP16vkE8zUopcPgnu6QF?usp=sharing" target="_blank") Semana 33 
        // DICIEMBRE 
        .contenedor
            button.months__btn Diciembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1a02M4ApFIbx03pBaVKe4Rst7KLqs4uPo?usp=sharing" target="_blank") Semana 34 
                a.months__link(href="https://drive.google.com/drive/folders/1AURKGsdd-GQvESXoZefJDHfTxGjlHGCP?usp=sharing" target="_blank") Semana 35 
                a.months__link(href="https://drive.google.com/drive/folders/1XySqKovV9D1_IToS__P3_rnClI96pkhv?usp=sharing" target="_blank") Semana 36

block footer
    include ../includes/footer